<div
  class="background bg-secondary min-h-dvh w-full flex flex-col items-center px-4 py-10 sm:py-16 gap-10 lg:h-dvh lg:w-dvw lg:py-14 xl:py-28">
  <a
    class="clickable w-48 sm:w-64 md:w-[468px] transition-transform duration-150 hover:scale-[1.02] lg:fixed lg:left-1/2 lg:-translate-x-1/2 lg:pb-10 lg:w-[234px] xl:w-[468px]"
    href="/"
  >
    <img
      class="w-full h-auto"
      height="85"
      ngSrc="/icons/logo.svg"
      priority
      width="468"
    />
  </a>
  <section
    class="bg-brand/45 rounded-3xl sm:rounded-[32px] shadow-[0_10px_35px_rgba(0,0,0,0.35)]
         p-6 sm:p-8 md:p-10 flex justify-center
         lg:fixed lg:top-1/2 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2
         lg:px-[4dvw] lg:py-[4dvh] xl:px-[2dvw] xl:py-[2dvh] lg:rounded-xxl
        lg:mt-[9dvh] xl:mt-[11dvh]"
  >
    <div class="w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-md">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
