.background {
  background-image: url("/backgrounds/auth.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100dvh;
}

@media (min-width: 768px) {
  .background {
    background-size: 100% auto;
  }
}
