<div class="background bg-secondary xl:py-28 py-14 h-dvh w-dvw">
  <a href="/"><img class="clickable md:w-[468px] w-[234px] pb-10 fixed left-1/2 -translate-x-1/2"
                   height="85"
                   ngSrc="/icons/logo.svg" priority
                   width="468"></a>
  <section
    class="bg-primary/45 md:rounded-xxl rounded-3xl fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 px-[4dvw] py-[4dvh] md:px-[2dvw] md:py-[2dvh]">
    <router-outlet></router-outlet>
  </section>
</div>

