<div class="bg-black/25 rounded-2xl m-5 flex grid grid-cols-2">
  <div class="my-2.5 ml-4 flex">
    <img
      class="bg-primary w-16 h-16 rounded-2xl"
      src="/icons/waiter-with-dishes.svg"
      alt=""
    />
    <div class="mx-2.5 place-content-center text-secondary">cook 2x speed</div>
  </div>
  <div class="my-2.5 mr-4 flex flex-row-reverse">
    <img
      class="bg-primary w-16 h-16 rounded-2xl border-2 border-secondary"
      src="/icons/sell.svg"
      alt=""
    />
    <div class="ml-2.5 place-content-center mx-2.5 text-secondary">1000 $</div>
  </div>
</div>
