<div class="h-[100dvh] w-[100dvw] bg-[#DC9861] fixed top-0 left-0">
  <div
    class="fixed top-1/2 right-0 bg-no-repeat bg-contain w-full h-full bg-[url('/locations/restaurant/floor.svg')] -z-max"></div>
  <div
    class="fixed top-0 left-0 w-full h-[526px] bg-[#F4CFAC] bg-center bg-no-repeat bg-origin-padding bg-contain bg-[url('/locations/restaurant/wall.svg')]"></div>
  <div class="fixed bottom-0 left-0 z-50 h-[30dvh] bg-repeat-x w-full bg-[url('/locations/restaurant/desk.svg')]"></div>
  <div
    class="fixed top-[2dvh] left-0 w-full h-[100px] bg-center bg-no-repeat bg-origin-padding bg-contain bg-[url('/locations/restaurant/restaurant.svg')]"></div>
  <div
    class="fixed top-1/4 left-0 w-full h-[303px] bg-center bg-no-repeat bg-origin-padding bg-contain bg-[url('/locations/restaurant/Table.svg')]"></div>
  <img class="fixed right-0 top-1/3 -translate-y-[25%] -translate-x-[25%]" src="/locations/restaurant/plant.svg">
  <img class="fixed left-0 top-1/3 -translate-y-[25%] translate-x-[25%]" src="/locations/restaurant/plant.svg">
  <div>
    <img class="z-40 fixed left-[2dvw] bottom-1/2 translate-y-[90%] w-max"
         src="/locations/restaurant/table 1.svg">
    <img class="z-30 fixed right-1/2 bottom-1/2 -translate-x-[10%] translate-y-[65%] w-max"
         src="/locations/restaurant/table 2.svg">
    <img class="z-30 fixed left-1/2 bottom-1/2 translate-x-[20%] translate-y-[65%] w-max"
         src="/locations/restaurant/table 3.svg">
    <img class="z-40 fixed right-[4dvw] bottom-1/2 translate-y-[90%] w-max"
         src="/locations/restaurant/table 4.svg">
  </div>
</div>




