<div
  class="flex flex-row gap-1 bg-primary/45 md:rounded-xxl rounded-3xl xl:w-[20dvw] px-5 w-[70dvw] xl:h-[4dvh] h-[8dvh] shadow-black text-white drop-shadow-lg placeholder-primary focus:outline-none">
  <input
    [disabled]="disabled"
    [id]="id"
    [name]="name"
    [placeholder]="placeholder"
    [required]="required"
    [type]="type !== 'password' ? type : showPassword ? 'text' : 'password'"
    class="bg-primary/0 md:rounded-xxl rounded-3xl w-full py-2.5 text-white placeholder-primary focus:outline-none">
  <button (click)="togglePasswordVisibility()" *ngIf="type==='password'"><img
    [ngSrc]="this.showPassword ? '/icons/hide.png' : '/icons/view.png'" class="showHideIcon md:h-[24px] md:w-[24px]"
    height="36" width="36">
  </button>
</div>
