<div
  [ngClass]="{
      'ring-2 ring-red-500 red-glow shadow-red-500/60 shadow-xl scale-[1.01]':
      (control.invalid && control.touched) ||
      (parentGroup && (parentGroup.hasError('passwordsMismatch') && name==='repeat_password') && control.touched)
  }"
  class="flex w-full max-w-[520px] gap-3 bg-brand-light rounded-3xl px-4 py-3
         text-dark drop-shadow-lg shadow-black/40 transition-all duration-200">
  <input
    [formControl]="control"
    [id]="id"
    [name]="name"
    [ngClass]="{
      'border-red-500 text-red-600 placeholder-red-400':
      (control.invalid && control.touched) ||
      (parentGroup && (parentGroup.hasError('passwordsMismatch') && name==='repeat_password') && control.touched)
    }"
    [placeholder]="placeholder"
    [required]="required"
    [type]="type !== 'password' ? type : showPassword ? 'text' : 'password'"
    class="bg-transparent rounded-3xl w-full placeholder-disabled focus:outline-none transition-all duration-200
           text-dark lg:rounded-xxl lg:bg-brand/0"
  />

  <button
    (click)="togglePasswordVisibility()"
    *ngIf="type === 'password'"
    class="flex items-center justify-center shrink-0"
    type="button"
  >
    <img
      [ngClass]="{'opacity-60': control.invalid && (control.dirty || control.touched)}"
      [ngSrc]="this.showPassword ? '/icons/hide.png' : '/icons/view.png'"
      class="h-7 w-7 transition-opacity"
      height="36" width="36"
    />
  </button>
</div>

<p
  *ngIf="(control.invalid || (parentGroup && (parentGroup.hasError('passwordsMismatch') && name==='repeat_password'))) && control.touched"
  class="text-red-500 text-sm font-medium mt-1 px-2 animate-fade-in w-full max-w-[520px] !break-words">
  {{ getErrorMessage() }}
</p>
