<div
  class="flex w-full max-w-sm sm:max-w-md md:max-w-lg gap-3 bg-brand-light rounded-3xl px-4 sm:px-5 py-3 sm:py-4 text-dark drop-shadow-lg shadow-black/40 lg:max-w-none lg:w-[70dvw] xl:w-[20dvw] lg:gap-1 lg:rounded-xxl lg:px-5 lg:py-0 lg:h-[8dvh] xl:h-[4dvh] lg:shadow-black"
>
  <input
    [attr.disabled]="disabled"
    [formControl]="control"
    [id]="id"
    [name]="name"
    [placeholder]="placeholder"
    [required]="required"
    [type]="type !== 'password' ? type : showPassword ? 'text' : 'password'"
    class="bg-transparent rounded-3xl w-full text-base sm:text-lg placeholder-disabled focus:outline-none text-dark lg:rounded-xxl lg:bg-brand/0 lg:py-2.5"
  />
  <button
    (click)="togglePasswordVisibility()"
    *ngIf="type==='password'"
    class="flex items-center justify-center lg:h-full"
    type="button"
  >
    <img
      [ngSrc]="this.showPassword ? '/icons/auth/hide.png' : '/icons/auth/view.png'"
      class="h-7 w-7 sm:h-8 sm:w-8 lg:h-6 lg:w-6"
      height="36"
      width="36"
    />
  </button>
</div>
