<div>
  <section class="flex flex-row items-center gap-[1.5dvw] my-[1.5dvh] mx-[1.5dvw]">
    <button
      class="relative flex items-center justify-center rounded-xxl border border-black bg-secondary w-[0.75dwv] h-[0.74dwv]">
      <img src="/icons/star.svg">
      <p
        class="absolute text-black font-bold text-xl leading-none overflow-hidden text-ellipsis whitespace-nowrap">{{ getPrestigeLvl() }}</p>
    </button>
    <div class="relative w-[200px] sm:w-[330px] h-[35px]">
      <progress
        [value]="getPlayerLvlPercentage()"
        class="w-full h-full rounded-full overflow-hidden border border-black bg-secondary appearance-none"
        max="100">
      </progress>
      <p class="absolute right-3 top-1/2 transform -translate-y-1/2 text-black font-bold text-xl">
        {{ getPlayerLvlPercentage() }}%
      </p>
    </div>
  </section>
  <section
    class="bg-secondary rounded-t-xxl border border-black px-[5.5dvw] py-[5.5dvh] left-[12dvw] 2xl:left-[7dvw] absolute bottom-0 w-[75dvw] 2xl:w-[50dvw] h-[29dvh]">
    <div class="w-full h-full flex flex-col md:flex-row gap-6 justify-end items-center">
      <button
        class="bg-primary rounded-xxl w-36 h-14 sm:w-56 sm:h-48 md:w-28 md:h-24 flex justify-center items-center">
        <img
          class="h-full"
          src="/icons/cook.svg"></button>
      <button class="bg-primary rounded-xxl w-36 h-14 sm:w-56 sm:h-48 md:w-28 md:h-24 flex justify-center items-center">
        <img
          class="h-full"
          src="/icons/sell.svg">
      </button>
    </div>
  </section>
  <app-menu></app-menu>
</div>
