<div class="px-4 py-4 lg:px-5 lg:py-5 lg:pr-16 h-[45vh] sm:h-[55vh] lg:h-[70dvh]">
  <div
    #scrollContainer
    class="bg-brand rounded-2xl border-2 border-black px-4 sm:px-5 py-4 sm:py-5 flex flex-col gap-5 h-full overflow-y-scroll scrollbar-hide"
  >
    <app-upgrade-button
      (buyEvent)="handleBuy($event)"
      *ngFor="let upgrade of upgrades"
      [blocked]="!this.store.canBuyUpgrade(upgrade)"
      [type]="'shop'"
      [upgrade]="upgrade"
    ></app-upgrade-button>
  </div>
</div>

<div class="hidden lg:flex absolute top-1/2 -translate-y-1/2 right-1.5 flex-col px-2">
  <button
    (click)="scrollUp()"
    [disabled]="disableAllScrollButtons || isAtTop"
    class="w-0 h-0 border-l-[15px] border-r-[15px] border-t-0 border-b-[50px] border-l-transparent border-r-transparent border-b-brand disabled:border-b-brand/45 my-32 border-black border-2"
  ></button>

  <button
    (click)="scrollDown()"
    [disabled]="disableAllScrollButtons || isAtBottom"
    class="w-0 h-0 border-l-[15px] border-r-[15px] border-t-[50px] border-b-0 border-l-transparent border-r-transparent border-t-brand disabled:border-t-brand/45 my-32"
  ></button>
</div>
