<div class="h-[100dvh] w-[100dvw] bg-pink-200 fixed top-0 left-0">
  <div
    class="fixed top-1/2 right-0 -translate-y-1/2 bg-repeat w-full h-full bg-[url('/locations/cafe/floor.svg')] -z-max"></div>
  <div
    class="fixed top-0 left-0 w-full h-[428px] bg-[#FFE5E3] bg-center bg-no-repeat bg-origin-padding bg-contain bg-[url('/locations/cafe/Wall.svg')]"></div>
  <div
    class="fixed top-0 left-0 w-full h-[100px] bg-repeat-x bg-contain bg-[url('/locations/cafe/sunblind.svg')]"></div>
  <div
    class="fixed top-[2dvh] left-0 w-full h-[100px] bg-center bg-no-repeat bg-origin-padding bg-contain bg-[url('/locations/cafe/CAFE.svg')]"></div>
  <div class="fixed bottom-0 left-0 z-50 bg-cover bg-bottom h-[35vh] bg-no-repeat w-full bg-[url('/locations/cafe/desk.svg')]"></div>
  <img class="fixed left-0 top-1/3 -translate-y-[25%] translate-x-[25%]" src="/locations/cafe/vase.svg">
  <img class="fixed right-0 top-1/3 -translate-y-[25%] -translate-x-[25%]" src="/locations/cafe/vase.svg">
  <div>
    <img class="z-40 fixed left-[2dvw] bottom-1/2 translate-y-[60%] w-[489px]"
         src="/locations/cafe/table_1.svg">
    <img class="z-30 fixed right-1/2 bottom-1/2 -translate-x-[20%] translate-y-[10%] w-[365px]"
         src="/locations/cafe/table_3.svg">
    <img class="z-30 fixed left-1/2 bottom-1/2 -translate-x-[10%] translate-y-[10%] w-[350px]"
         src="/locations/cafe/table_2.svg">
    <img class="z-40 fixed right-[8dvw] bottom-1/2 translate-y-1/2 w-[489px]"
         src="/locations/cafe/table_4.svg">
  </div>
</div>




