<div class="h-[100dvh] w-[100dvw] bg-sky fixed top-0 left-0">
  <img class="fixed top-0 right-0" src="/locations/track/sunblind.png">
  <img class="fixed bottom-0 right-0 z-50 h-[40dvh]" src="/locations/track/desk.png">
  <img class="fixed top-1/2 -translate-y-[60%]" src="/locations/track/sea.svg">
  <img class="fixed bottom-0 h-[50dvh] " src="/locations/track/sand.png">
  <img class="fixed left-1/2 -translate-x-1/2 w-[80dvw] top-[15dvh]" src="/locations/track/clouds.png">

  <div>
    <img *ngIf="decorCount >=1" class="z-40 fixed left-[2dvw] bottom-1/2 translate-y-1/3 w-[326px] xl:w-[489px]"
         src="/locations/track/table_red.png">
    <img *ngIf="decorCount >=2"
         class="z-30 fixed right-1/2 bottom-1/2 -translate-x-[15%] translate-y-1/4 w-[163px] xl:w-[326px]"
         src="/locations/track/table_blue.png">
    <img *ngIf="decorCount >=3"
         class="z-30 fixed left-1/2 bottom-1/2 translate-x-[15%] translate-y-1/4 w-[163px] xl:w-[326px]"
         src="/locations/track/table_red.png">
    <img *ngIf="decorCount >=4" class="z-40 fixed right-[8dvw] bottom-1/2 translate-y-1/3 w-[326px] xl:w-[489px]"
         src="/locations/track/table_blue.png">
  </div>
</div>




