<div class="px-5 py-5 pr-16 h-[75dvh]">
  <div class="bg-primary rounded-2xl border-2 border-black px-5 py-5 flex flex-col gap-5 h-full">
    <app-upgrade-button [blocked]="true" [price]="1000"></app-upgrade-button>
    <app-upgrade-button [blocked]="false" [price]="2000"></app-upgrade-button>
    <app-upgrade-button [blocked]="false" [price]="23423452343"></app-upgrade-button>
  </div>
</div>

<div class="absolute top-1/2 -translate-y-1/2 right-1.5 flex flex-col px-2">
  <button
    class="w-0 h-0 border-l-[15px] border-r-[15px] border-t-0 border-b-[50px] border-l-transparent border-r-transparent border-b-primary my-32 border-black border-2"
  ></button>

  <button
    class="w-0 h-0 border-l-[15px] border-r-[15px] border-t-[50px] border-b-0 border-l-transparent border-r-transparent border-t-primary my-32"
  ></button>
</div>
