<div class="flex">
  <div class="bg-primary m-6 rounded-2xl border-2 border-black w-10/12">
    <app-upgrade-button [blocked]="true"></app-upgrade-button>
    <app-upgrade-button [blocked]="false"></app-upgrade-button>
    <app-upgrade-button [blocked]="false"></app-upgrade-button>
  </div>
  <div class="flex flex-col px-2">
    <button
      class="w-0 h-0 border-l-[15px] border-r-[15px] border-t-0 border-b-[50px] border-l-transparent border-r-transparent border-b-primary my-32 border-black border-2"
    ></button>

    <button
      class="w-0 h-0 border-l-[15px] border-r-[15px] border-t-[50px] border-b-0 border-l-transparent border-r-transparent border-t-primary my-32"
    ></button>
  </div>
</div>
