<div *ngIf="isGameLoaded && !showResolutionWarning"
     class="z-30 overscroll-none scrollbar-hide font-tektur">
  <section class="z-max fixed flex flex-row items-center gap-[1.5dvw] my-[1.5dvh] mx-[1.5dvw]">
    <button (click)="toggleModal('profile',true)"
            class="max-w-14 max-h-14 rounded-xxl border border-black items-center flex justify-center bg-primary/45 p-[0.75dvh]">
      <img
        src="/icons/logout.svg"></button>
    <button (click)="toggleModal('prestige',true)"
            class="relative flex items-center justify-center rounded-xxl border border-black bg-secondary max-w-14 max-h-14">
      <img src="/icons/star.svg">
      <p
        class="absolute text-black font-bold text-xl leading-none overflow-hidden text-ellipsis whitespace-nowrap">{{ prestige }}</p>
    </button>
    <div class="relative w-[200px] sm:w-[330px] h-[35px] hidden sm:block">
      <progress
        [value]="playerLvlPercentage"
        class="w-full h-full rounded-full overflow-hidden border border-black bg-secondary appearance-none"
        max="100">
      </progress>
      <p class="absolute right-3 top-1/2 transform -translate-y-1/2 text-black font-bold text-xl">
        {{ playerLvlPercentage }}%
      </p>
    </div>
    <p class="relative text-3xl text-center">LVL {{ levelRank }}</p>
  </section>
  <section
    class="z-10 px-[5.5dvw] py-[5.5dvh] left-[7dvw] absolute bottom-0 w-[65dvw] h-[53dvh]">
    <div class="w-full h-full flex flex-col md:flex-row gap-6 justify-end items-center">
      <div class="flex flex-col justify-center align-middle items-center">
        <img *ngIf="levelRank < 70" class="w-[312px] hidden xl:block"
             src="/icons/upgrades/equipment/gas_burner.svg">
        <button (click)="handleCook()" [disabled]="isCooking"
                class="active:scale-95 z-max bg-primary rounded-xxl border border-black w-36 h-14 sm:w-56 sm:h-48 md:w-28 md:h-24 flex justify-center items-center">
          <img
            class="h-full"
            src="/icons/cook.svg">
        </button>
      </div>
      <div class="flex flex-col justify-center align-middle items-center">
        <img *ngIf="levelRank < 70" class="w-[312px] hidden xl:block"
             src="/icons/upgrades/equipment/new_cashier.svg">
        <button (click)="handleSell()" [disabled]="isSelling"
                class="active:scale-95 bg-primary rounded-xxl border border-black w-36 h-14 sm:w-56 sm:h-48 md:w-28 md:h-24 flex justify-center items-center">
          <img
            class="h-full"
            src="/icons/sell.svg">
        </button>
      </div>
    </div>
  </section>
  <app-menu></app-menu>
</div>

<div [ngSwitch]="locationConfig.component">
  <app-track *ngSwitchCase="'track'" [decorCount]="4"></app-track>
  <app-cafe *ngSwitchCase="'cafe'"></app-cafe>
  <app-restaurant *ngSwitchCase="'restaurant'"></app-restaurant>
  <app-gastro-restaurant *ngSwitchCase="'gastro'"></app-gastro-restaurant>
  <app-final *ngSwitchCase="'final'"></app-final>
</div>

<img
  *ngIf="locationConfig.imgSrc"
  [ngClass]="locationConfig.imgClass"
  [src]="locationConfig.imgSrc"
  class="fixed bottom-[5dvh] left-[10dvw] z-max hidden xl:block"
/>

<app-modal (close)="toggleModal('profile',false)" [background]="'bg-secondary'" [border_color]="'primary'"
           [border_size]="16"
           [closeOnBackdrop]="true"
           [show]="profileWindowToggle">
  <app-profile (logoutEvent)="toggleModal('logout',$event)" [email]="session.email"></app-profile>
</app-modal>

<app-modal (close)="toggleModal('logout',false)" [background]="'bg-secondary'"
           [border_color]="'primary'"
           [border_size]="16"
           [closeOnBackdrop]="true"
           [show]="logoutWindowToggle">
  <div class="flex flex-col items-center font-tektur py-[3.5dvh] px-[8.5dvw] drop-shadow-md">
    <h2 class="text-white text-center md:text-4xl drop-shadow-[0_1.5px_1.5px_rgba(0,0,0,1)]">Вы уверены, <br>что
      хотите выйти?</h2>
    <section class="flex flex-row gap-5">
      <button (click)="logout()"
              class="bg-green-600 border-2 border-black mt-[2.5dvh] rounded-2xl px-[4.5dvw] py-[1.25dvh] font-bold text-2xl text-white">
        Да
      </button>
      <button (click)="toggleModal('logout',false)"
              class="bg-red border-2 border-black mt-[2.5dvh] rounded-2xl px-[4.5dvw] py-[1.25dvh] font-bold text-2xl text-white">
        Нет
      </button>
    </section>
  </div>
</app-modal>

<app-prestige-window (closeEvent)="toggleModal('prestige',$event)"
                     [enabled]="prestigeWindowToggle"></app-prestige-window>

<button (click)="toggleVolumeSlider()" class="fixed bottom-0 left-0 px-4 py-4 z-max">
  <img [src]="sound.currentVolume > 0 ? '/icons/sound-on.svg' : '/icons/sound-off.svg'"/>
</button>

<div
  *ngIf="showVolumeSlider"
  class="fixed left-5 bottom-20 z-max p-2"
>
  <input
    (input)="onVolumeChange($event)"
    [value]="sound.currentVolume"
    class="volume-slider"
    max="100"
    min="0"
    type="range"
  />
</div>

<div *ngIf="showResolutionWarning"
     class="fixed inset-0 bg-black text-white z-max flex items-center justify-center overscroll-none">
  <p class="text-2xl text-center px-10 cursor-default select-none font-tektur">Пожалуйста, измените размер окна для
    корректной
    работы сайта</p>
</div>

<div
  *ngIf="showLevelUpNotification"
  class="fixed bottom-10 left-1/2 transform -translate-x-1/2 bg-green-500 text-white px-6 py-3 rounded-2xl text-lg shadow-lg transition-opacity duration-500 opacity-100 z-50"
>
  🎉 Уровень повышен до {{ levelRank }}!
</div>

<app-loading *ngIf="!isGameLoaded"></app-loading>
