progress {
  -webkit-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #FFEB9C;
  border-radius: 9999px;
}

progress::-webkit-progress-value {
  background-color: #6F56FF;
  border-radius: 9999px;
}

progress::-moz-progress-bar {
  background-color: #6F56FF;
  border-radius: 9999px;
}

.volume-slider {
  -webkit-appearance: slider-vertical;
  -moz-appearance: slider-vertical;
  appearance: slider-vertical;
  writing-mode: bt-lr;
  width: 45px;
  height: 150px;
}

