<div class="h-[100dvh] w-[100dvw] bg-[#DC9861] fixed top-0 left-0">
  <div
    class="fixed top-0 right-0 bg-[#B57A74] bg-no-repeat bg-center bg-contain w-full h-full bg-[url('/locations/final/floor.svg')] -z-max"></div>
  <div
    class="fixed  top-0 right-0 w-full h-[512px] bg-repeat-x bg-right bg-[url('/locations/final/wall.svg')]">
    <div
      class="absolute bottom-0 right-0 w-full h-[471px] bg-center bg-no-repeat bg-origin-padding bg-contain bg-[url('/locations/final/decoration.svg')]"></div>
  </div>
  <div
    class="hidden md:block fixed top-0 right-0 w-full h-[684.73px] bg-no-repeat bg-contain bg-right bg-[url('/locations/final/wall_right.svg')]"></div>
  <div
    class="fixed bottom-0 left-0 bg-cover bg-bottom h-[36vh] bg-no-repeat w-full bg-[url('/locations/final/desk.svg')]"></div>
  <div class="fixed z-50 bottom-[36dvh] left-1/2 -translate-x-1/2 w-fit h-fit">
    <img
      class=""
      src="/locations/final/table.svg">
    <img *ngIf="hasTruck" class="fixed bottom-[15%] left-[31%] -translate-x-1/2 w-[25%] h-[25%]"
         src="/icons/upgrades/point/food_truck.svg">
    <img *ngIf="hasCafe" class="fixed bottom-1/2 left-[30%] -translate-x-1/2 translate-y-[10%] w-[40%] h-[40%]"
         src="/icons/upgrades/point/small_cafe.svg">
    <img *ngIf="hasRestaurant" class="fixed bottom-[54%] right-[8%] translate-y-1/2 w-[42%] h-[42%]"
         src="/icons/upgrades/point/family_restaurant.svg">
    <img *ngIf="hasGastronomic" class="fixed bottom-1/2 right-1/2 translate-x-1/2 translate-y-[36%] w-1/2 h-1/2"
         src="/icons/upgrades/point/gastro_restaurant.svg">
  </div>


</div>



