progress {
  -webkit-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #F5C458;
  border-radius: 9999px;
}

progress::-webkit-progress-value {
  background-color: #57BFF5;
  border-radius: 9999px;
}

progress::-moz-progress-bar {
  background-color: #57BFF5;
  border-radius: 9999px;
}
