<section
  class="z-max sticky top-0 left-0 w-full flex flex-col sm:flex-row items-center sm:items-center gap-3 sm:gap-[1.5dvw] px-4 py-4 sm:py-[1.5dvh] sm:px-[1.5dvw] backdrop-blur-md"
>
  <div class="flex w-full sm:w-auto justify-between sm:justify-start items-center gap-3">
    <button
      (click)="openProfile.emit()"
      class="size-12 sm:size-14 rounded-xxl border border-black flex items-center justify-center bg-primary/45 p-2"
    >
      <img src="/icons/logout.svg" />
    </button>
    <button
      (click)="openPrestige.emit()"
      class="relative flex items-center justify-center rounded-xxl border border-black bg-secondary size-12 sm:size-14"
    >
      <img src="/icons/star.svg" />
      <p class="absolute text-black font-bold text-xs sm:text-base leading-none overflow-hidden text-ellipsis whitespace-nowrap">
        {{ prestige }}
      </p>
    </button>
  </div>
  <div class="relative w-full max-w-xs sm:max-w-none sm:w-[330px] h-3 sm:h-[35px]">
    <progress
      [value]="levelPercentage"
      class="w-full h-full rounded-full overflow-hidden border border-black bg-secondary appearance-none"
      max="100"
    >
    </progress>
    <p class="absolute right-2 sm:right-3 top-1/2 -translate-y-1/2 text-black font-bold text-sm sm:text-xl">
      {{ levelPercentage }}%
    </p>
  </div>
  <p class="relative text-xl sm:text-3xl text-center w-full sm:w-auto">LVL {{ level }}</p>
</section>
