<div class="h-[100dvh] w-[100dvw] bg-[#DC9861] fixed top-0 left-0">
  <div
    class="fixed top-0 left-0 w-full h-[50dvh] bg-[#A66101] bg-contain bg-center bg-repeat-x bg-[url('/locations/gastro-restaurant/wall.svg')] -z-max"></div>
  <div
    class="fixed top-0 left-0 w-full h-[50dvh] bg-center bg-no-repeat bg-origin-padding bg-contain bg-[url('/locations/gastro-restaurant/decoration.svg')]"></div>
  <div
    class="fixed top-1/2 right-0 bg-[#A66101] bg-repeat-x w-full h-full bg-[url('/locations/gastro-restaurant/floor.svg')]"></div>
  <div
    class="fixed bottom-0 left-0 z-50 bg-cover bg-bottom h-[35vh] bg-no-repeat w-full bg-[url('/locations/gastro-restaurant/desk.svg')]"></div>
  <div>
    <img class="z-40 fixed left-[2dvw] bottom-1/2 translate-y-1/2 w-max"
         src="/locations/gastro-restaurant/table 1.svg">
    <img class="z-40 fixed left-1/2 bottom-1/2 -translate-x-1/2 translate-y-1/2 w-max"
         src="/locations/gastro-restaurant/table 2.svg">
    <img class="z-40 fixed right-[2dvw] bottom-1/2 translate-y-1/2 w-max"
         src="/locations/gastro-restaurant/table 3.svg">
  </div>
</div>




