<button class="bg-primary/45 absolute right-[1.5dvw] top-[1.5dvh] block 2xl:hidden rounded-xxl w-14 h-14">===
</button>
<div class="bg-primary/45 absolute right-0 top-0 hidden 2xl:block w-[30dvw] h-full">
  <section class="bg-primary h-20 border-b-2 border-black flex flex-row items-center px-4 gap-4">
    <button class="w-12 h-12 bg-blue-300 rounded-xxl items-center text-center"><-</button>
    <span class="flex-1"></span>
    <p class="text-2xl">{{ getDishCount() }}</p>
    <span class="bg-secondary rounded-xxl w-16 h-14 justify-end"></span>
  </section>
  <section class="bg-primary h-20 border-b-2 border-black flex flex-row items-center px-4 gap-4 justify-end">
    <p class="text-2xl">{{ getCashCount() }}</p>
    <span class="bg-secondary rounded-xxl w-16 h-14 justify-end"></span>
  </section>
  <div>
    <!-- Your restaurant menu items will go here -->
  </div>
  <div class="absolute bottom-0 w-full h-[8dvh] flex flex-row items-center justify-center px-1 gap-1">
    <button class="w-[8dvh] h-[8dvh] bg-primary items-center text-center"></button>
    <button class="w-[8dvh] h-[8dvh] bg-primary items-center text-center"></button>
    <button class="w-[8dvh] h-[8dvh] bg-primary items-center text-center"></button>
    <button class="w-[8dvh] h-[8dvh] bg-primary items-center text-center"></button>
    <button class="w-[8dvh] h-[8dvh] bg-primary items-center text-center"></button>
    <button class="w-[8dvh] h-[8dvh] bg-primary items-center text-center"></button>
  </div>
</div>
