<section
  class="z-10 w-full px-4 py-4 sm:px-6 sm:py-6 lg:px-[5.5dvw] lg:py-[5.5dvh] lg:left-[7dvw] lg:absolute lg:bottom-0 lg:w-[65dvw] lg:h-[53dvh]"
>
  <div
    class="w-full h-full flex flex-col gap-4 sm:flex-row sm:gap-6 justify-center sm:justify-between items-center bg-primary/40 border border-black rounded-3xl shadow-[0_10px_25px_rgba(0,0,0,0.3)] p-4 lg:flex-row lg:gap-6 lg:justify-end lg:items-center lg:bg-transparent lg:border-none lg:shadow-none lg:p-0"
  >
    <div class="flex flex-col justify-center items-center gap-3">
      <img *ngIf="level < 70" class="w-48 hidden xl:block" src="/icons/upgrades/equipment/gas_burner.svg" />
      <button
        (click)="cook.emit()"
        [disabled]="isCooking"
        class="active:scale-95 z-max bg-primary rounded-xxl border border-black w-full max-w-[200px] h-16 sm:h-20 md:h-24 lg:w-28 lg:h-24 lg:max-w-none flex justify-center items-center shadow-md disabled:opacity-60 transition-transform"
      >
        <img class="h-full max-h-16" src="/icons/cook.svg" />
      </button>
    </div>
    <div class="flex flex-col justify-center items-center gap-3">
      <img *ngIf="level < 70" class="w-48 hidden xl:block" src="/icons/upgrades/equipment/new_cashier.svg" />
      <button
        (click)="sell.emit()"
        [disabled]="isSelling"
        class="active:scale-95 bg-primary rounded-xxl border border-black w-full max-w-[200px] h-16 sm:h-20 md:h-24 lg:w-28 lg:h-24 lg:max-w-none flex justify-center items-center shadow-md disabled:opacity-60 transition-transform"
      >
        <img class="h-full max-h-16" src="/icons/sell.svg" />
      </button>
    </div>
  </div>
</section>
