<button
  *ngIf="!blocked"
  class="bg-black/25 rounded-2xl m-5 ml-7 flex flex-row w-11/12"
>
  <!-- flex flex-col // отступы между / занимаемая ширина для отдельных элементов -->
  <div class="my-2.5 ml-4 flex basis-1/6">
    <img
      alt=""
      class="bg-primary w-16 h-16 rounded-2xl"
      src="/icons/waiter-with-dishes.svg"
    />
  </div>
  <div class="place-content-center text-secondary basis-2/6">
    {{ nameUpgrade }} {{ valueUpgrade }}
  </div>
  <!-- переменная -->
  <div class="place-content-center text-secondary basis-2/6">{{ price }} $</div>
  <!-- переменная -->
  <div class="my-2.5 mr-4 flex flex-row-reverse basis-1/6">
    <img
      *ngIf="!buy"
      alt=""
      class="bg-primary w-16 h-16 rounded-2xl border-2 border-secondary"
      src="/icons/sell.svg"
    />
    <img
      *ngIf="buy"
      alt=""
      class="bg-secondary w-16 h-16 rounded-2xl border-2 border-secondary"
      src="/icons/sell.svg"
    />
    <!-- ngIf || ngClass // + переменная -->
  </div>
</button>
<button
  *ngIf="blocked"
  class="bg-black/70 rounded-2xl m-5 ml-8 flex flex-row w-11/12"
>
  <!-- flex flex-col // отступы между / занимаемая ширина для отдельных элементов -->
  <div class="my-2.5 ml-4 flex basis-1/6">
    <img
      alt=""
      class="bg-primary w-16 h-16 rounded-2xl"
      src="/icons/waiter-with-dishes.svg"
    />
  </div>
  <div class="place-content-center text-secondary basis-2/6">
    {{ nameUpgrade }} {{ valueUpgrade }}
  </div>
  <!-- переменная -->
  <div class="place-content-center text-secondary basis-2/6">{{ price }} $</div>
  <!-- переменная -->
  <div class="my-2.5 mr-4 flex flex-row-reverse basis-1/6">
    <img
      alt=""
      class="opacity-70 w-16 h-16 rounded-2xl border-2 border-secondary"
      src="/icons/sell.svg"
    />
    <!-- ngIf || ngClass // + переменная -->
  </div>
</button>
