@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #57BFF5;
  --brand-light: rgba(87, 191, 245, 0.5);
  --brand-disabled: rgba(87, 191, 245, 0.30);
  --secondary: #F5C458;
  --outline: rgba(0, 0, 0, 0.1);
  --disabled: rgba(0, 0, 0, 0.35);
  --text: #34454D;
  --dark: #000000;
  --light: #FFFFFF;
}

* {
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none;
  user-select: none;
}

input, a, .clickable {
  pointer-events: auto !important;
  user-select: auto !important;
}

button {
  pointer-events: auto !important;
}
