<button
  (click)="handleClick()"
  [disabled]="disabled"
  [ngClass]="{
    'bg-brand': !selected,
    'bg-secondary': selected
  }"
  class="relative border-2 border-black disabled:bg-black/45 w-full flex justify-center rounded-2xl"
>
  <img [alt]="type" [height]="90" [ngSrc]="iconSource" [width]="90"
       class="p-3 w-16 h-16 sm:w-[72px] sm:h-[72px] "/>
  @if (gameStore.hasUpgradeToBuyWithType(type)) {
    <span
      class="absolute top-1 right-1 bg-red-600 text-white text-xs font-bold rounded-full w-5 h-5 flex items-center justify-center border-2 border-black">
      !
    </span>
  }
  @if (gameStore.hasNewUpgradeWithType(type)) {
    <span
      class="absolute bottom-1 right-1 bg-red-600 text-white text-xs font-bold rounded-full px-2 py-0.5 border-2 border-black">
      NEW
    </span>
  }
</button>
